body {
  text-align: center;
  font-family: 'Noto Serif TC', serif;
  margin: 0;
}

.top-container {
  /*background-color: #a7ff83;*/
  background-color: rgb(20, 24, 110);
  background-color: rgba(20, 24, 110, 0.81);
  color: #f3f986;
  color: rgba(243, 249, 134, 1);
  padding-top: 10px;
}

hr {
  border-style: dotted none none none;
  border-color: rgb(20, 24, 110);
  border-color: rgba(20, 24, 110, 0.81);
  border-width: 10px;
  width: 5%;
  margin: 50px auto;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Courgette', cursive;
  font-size: 60px;
}

.profile {
  display: inline-block;
  width: 35%;
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  display: block;
  position: relative;
  left: 25%;
  /*position: absolute;
  right: 300px;
  top: 50px;*/
}

.top-cloud {
  position: relative;
  left: 18%;
  /*position: absolute;
  left: 300px;
  bottom: 300px;*/
}

.mountain {
  width: 50%;
  height: 50%;
}

.buspro {
  height: 10%;
  width: 10%;
  position: relative;
}

.buspro1 {
  top: 10px;
}

.skill-detail{
  display: inline-block;
  width: 30%;
  text-align: left;
  margin-left: 15px;
}

.contact-me {
  display: inline-block;
  width: 30%;
}

.bottom-container {
  margin-top: 50px;
  background-color: rgb(20, 24, 110);
  background-color: rgba(20, 24, 110, 0.81);
  color: #f3f986;
  color: rgba(243, 249, 134, 1);
}

.footer-link {
  text-decoration: none;
  padding: 20px;
  color: inherit;
  display: inline-block;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: rgb(20, 24, 110);
  background-color: rgba(20, 24, 110, 0.81);
  color: #f3f986;
  color: rgba(243, 249, 134, 1);
  padding: 10px;
}

.profile-img {
  width: 35%;
  height: 35%;
}
